extends layout.pug

block content
    - title = title
    - pathname = path
    - con = content
    - main = main
    - sorted = []

    - for (var i=0; i < con.length; i++) {
        - if (main(main(pathname).join(con[i])).isDir()) {
            - sorted.push(con[i])
        - }
    - }

    - for (var i=0; i < con.length; i++) {
        - if (main(main(pathname).join(con[i])).isFile()) {
            - sorted.push(con[i])
        - }
    - }

    a.fixed(href="/path?pathname=" + main(pathname).join("../"))
        button(class=['btn', 'bg-black', 'text-white']) &laquo;

    div#body.container-fluid
        div.row.m-a-3
            - for (i = 0; i < sorted.length; i++) {
                - if (main(pathname + "/" + sorted[i]).isDir()) {

                    a(href="/path?pathname=" + pathname + "/" + sorted[i])
                        figure.figure.col-xs-6.col-sm-4.col-md-3.text-xs-center
                            img.img-fluid(src="../images/folder.png" class="figure-img")
                            figcaption(class="figure-caption text-black")= sorted[i]

                - } else if (main(pathname + "/" + sorted[i]).isFile()) {

                    - mime = sorted[i].split(".").pop()
                    - if (mime === "png" || mime === "jpg" || mime === "jpeg" || mime === "gif" || mime === "svg" || mime === "ttf" || mime==="otf") {
                        a
                            - if (mime === "ttf" || mime === "otf") {
                                figure.font.figure.col-xs-12.col-sm-4.col-md-4.text-xs-center
                                    div(style="font-family: " +sorted[i].split(".")[0] + ";")
                                        article the quick brown fox jump over the lazy dog
                                        article THE QUICK BROWN FOX JUMP OVER THE LAZY DOG.
                                        article 123456789.
                                    figcaption(class="figure-caption")= sorted[i]
                            - } else {
                                    figure.figure.col-xs-12.col-sm-4.col-md-3.text-xs-center
                                        img(src="/images/"+sorted[i] class="figure-img img-fluid")
                                        figcaption(class="figure-caption")= sorted[i]
                            - }
                    - } else {
                        a(href="/path?pathname=" + pathname + "/" + sorted[i])

                            figure.figure.col-xs-6.col-sm-4.col-md-3.text-xs-center
                                - if (mime === "js") {
                                    img(src="../images/jsFil.jpeg" class="figure-img img-fluid")
                                - } else if (mime === "py") {
                                    img(src="/images/pyFile2.jpeg" class="figure-img img-fluid")
                                - } else if (mime === "css") {
                                    img(src="/images/cssFile.jpeg" class="figure-img img-fluid")
                                - } else if(mime === "html" || mime === "pug") {
                                    img(src="/images/htmlFile2.jpeg" class="figure-img img-fluid")
                                - } else {
                                    img(src="../images/textFile.jpeg" class="figure-img img-fluid")
                                - }
                                figcaption(class="figure-caption")= sorted[i]
                    - }
                - }
            - }
