extends layout.pug

block content
    - con = content
    - main = main
    - pathname = path

    h2.text-muted.text-xs-center= title

    a.fixed(href="/path?pathname=" + main(pathname).join("../"))
        button(class=['btn', 'bg-black']) &laquo;

    div.container-fluid
        div.row
            div.col-xs-12.col-sm-10.col-sm-push-1.col-md-8#output.p-a-3= con
