div#footer(class="container text-xs-center p-t-3")
    article
        a(href="#/" class="btn btn-sm sm-font") Home
        a(href="/path?pathname=./pythons" class="btn btn-sm sm-font") PYTHON
        a(href="/path?pathname=./nodes"  class="btn btn-sm sm-font") NODE.js
        a(href="/path?pathname=./js" class="btn btn-sm sm-font") JavaScript
        a(href="/path?pathname=./css" class="btn btn-sm sm-font") CSS
        a(href="/path?pathname=./views" class="btn btn-sm sm-font") HTML

    article(class="m-t-2 m-b-1")
        a(href="https://www.facebook.com/dannymcwaves.halbrok" target="__blank")
            img(src="images/social/facebook.svg")
        a(href="https://www.twitter.com/dannymcwaves" target="__blank")
            img(src="images/social/twitter.svg")
        a(href="https://gh.linkedin.com/in/ayikpah-daniel-amanor-mcwaves-4b2b58a7" target="__blank")
            img(src="images/social/linkedin.svg")
        a(href="https://github.com/DannyMcwaves" target="__blank")
            img(src="images/social/download.png")
        a(href="mailto:dannymcwaves96@gmail.com" target="__blank")
            img(src="images/social/mail.svg")
        a(href="https://www.instagram.com/DannyMcwaves" target="__blank")
            img(src="images/social/inst.jpeg")
