div.navbar.navbar-full.navbar-light.bg-white.row.text-xs-center.text-sm-left

    div.navbar-brand.col-xs-6.col-xs-push-3.col-sm-3.col-sm-push-1
        img.img-fluid(ng-src="/images/cde.png" height="100px" width="100px")

    nav.nav-inline.col-xs-12.col-sm-7.m-t-2.text-md-center.p-b-1
        a.btn.btn-sm.nav-link(href="/path?pathname=./pythons") PYTHON
        a.btn.btn-sm.nav-link(href="/path?pathname=./nodes") NODE.js
        a.btn.btn-sm.nav-link(href="/path?pathname=./js") JAVASCRIPT
        a.btn.btn-sm.nav-link.hidden-sm-down(href="/path?pathname=./views") HTML
        a.btn.btn-sm.nav-link(href="/path?pathname=./css") CSS
