doctype html
html
  head
    title= title
    link(rel='stylesheet', href="../css/all.css")
    link(rel='stylesheet', href='../css/font.css')
    link(rel='stylesheet', href='../css/style.css')

  body
    block content

    script(src="../js/jquery-2.1.4.min.js")
    script(src="../js/bootstrap.min.js")
    script(src="../js/index1.js")
